/* BIKES WEBSITE, EVERYONE! */

body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #eeeeee;

}

#wrapper{
    width: 980px;
    margin: 0 auto;
    background:#fff;
}

#main-navigation{
    background: #181818;
    padding: 10px;
}

#main-navigation ul{
    text-align:right;
    list-style-type: none;
    margin-right: 10px;

}

#main-navigation li{
    display: inline-block;      /* thanks to this the menu elements will be next to each other but im able 
                                to change the margin/padding box settings just like for blocks */
    margin-left: 20px;          /* more space between menu elements */  
}

#main-navigation a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px;
}

#main-navigation a.current{                     /* I want to style this a lil bit different */
    background: #8f746c;
    border-radius: 4px;
    color:white;
}

#main-navigation a.current:hover{
    background: #181818;
    transition: 0.1s;       } 

    #main-navigation a:hover{
        background: #8f746c;
        color: white;
        transition: 0.1s;
    border-radius: 4px;       } 
    

#lead-banner img {
    width: 100%;
}

#shop{
    margin: 30px 0;
    text-align: center;             /* this way I put not only the text but also the images within the section in the centre*/
}

#shop h2.product-name{
    font-size:16px;
    margin-bottom: 0;

}

#shop span.price{
    display:block;
    font-size: 50px;
}

#shop a.add-to-bag{
    display: block;
    color: #8f746c;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 0;
    border: 2px solid #8f746c;
    width: 20%;
    margin: 20px auto;
}

#shop a.add-to-bag:hover{
    background-color: #8f746c;
    color:white;
    transition: 0.1s;

}

#footer-banner img{
    width: 100%;
}