/* BIKES WEBSITE, EVERYONE! */

body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #eeeeee;

}

#wrapper{
    width: 980px;
    margin: 0 auto;
    background:#fff;
}

#main-navigation{
    background: #181818;
    padding: 10px;
}

#main-navigation ul{
    text-align:right;
    list-style-type: none;
    margin-right: 10px;

}

#main-navigation li{
    display: inline-block;      /* thanks to this the menu elements will be next to each other but im able 
                                to change the margin/padding box settings just like for blocks */
    margin-left: 20px;          /* more space between menu elements */  
}

#main-navigation a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px;
}

#main-navigation a.current{                     /* I want to style this a lil bit different */
    background: #8f746c;
    border-radius: 4px;
    color:white;
}
